# Java / Spring Boot (backend) 
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.log
HELP.md

# Angular / Node (frontend) 
/tmp
/out-tsc
/dist
/node_modules
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js


# OS
Thumbs.db
.DS_Store

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Environnement / secrets
.env
.env.local
application-local.properties